html {
  height: 99vh;
  width: 100vw;
}
.main {
  height: 100%;
  width: 100%;

  .notice {
    color: #c7bfe1;
    font-size: 20px;
    white-space: break-spaces;
    text-align: justify;
    border-radius: 8px;
    padding: 12px;
    padding-top: 24px;
    max-width: 40vw;

    .hide-notice {
      color: #96d2a7;
      margin-top: 16px;
      width: fit-content;
      margin-bottom: 16px;
      cursor: pointer;

      &:hover {
        color: #8A2BE2;
      }
    }
  }

  .home {
    height: 100%;
    cursor : url('./message.svg'), auto;
    z-index: 10;


    .comment-client-position {
      position: absolute;
      cursor: pointer;
      &:hover {
        .clickable-text {
          color: #fff;
          text-shadow: 0 0 5px #03e9f4,
          0 0 25px #03e9f4,
          0 0 50px #03e9f4,
          0 0 100px #03e9f4;
        }
      }
    }

    .input-client-position {
      position: absolute;
    }
  }
}

 body {
   height: 100%;
   max-width: 100%;

   * { box-sizing: border-box; }

   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 460 55'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23fff' stroke-width='7' opacity='.1'%3E%3Cpath d='M-345 34.5s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 48.3 0 48.3s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 20.7s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 34.5 0 34.5s115-13.8 115-13.8S172.5 6.9 230 6.9s115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8m-920 27.6s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 62.1 0 62.1s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 6.9s57.5-13.8 115-13.8S-115 6.9-115 6.9-57.5 20.7 0 20.7 115 6.9 115 6.9 172.5-6.9 230-6.9 345 6.9 345 6.9s57.5 13.8 115 13.8S575 6.9 575 6.9'/%3E%3Cpath d='M-345-6.9s57.5-13.8 115-13.8S-115-6.9-115-6.9-57.5 6.9 0 6.9 115-6.9 115-6.9s57.5-13.8 115-13.8S345-6.9 345-6.9 402.5 6.9 460 6.9 575-6.9 575-6.9m-920 69s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 75.9 0 75.9s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3C/g%3E%3C/svg%3E%0A"),
   linear-gradient(80deg, #202, #006);
   animation: background-move 140s linear infinite;
   animation: background-move 10s linear infinite;
   background-size: 100vw auto, 100% 100%;
   background-size: unquote('max(100vw, 30em)') auto, 100% 100%;
 }
